extends base.pug
include ./mixins/video.pug

block content
    form(method='GET')
        input(placeholder='Search by title' type='text', name='keyword')
        input(type='submit', value='Search now')
    
    div
        each video in videos 
            +video(video) 