extends base.pug

block content
    video(src='/' + video.fileUrl, controls)
    div
        p=video.description
        small=video.createdAt
    if video.owner == loggedInUser._id
        a(href=`${video.id}/edit`) Edit Video –>
        br
        a(href=`${video.id}/delete`) Delete Video –>
